body {
    background-color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    color : rgb(10,10,100);
    text-align: center;
}

h2 { 
    color: rgb(40,120,120);
}

.card {
    min-width: 600px;
    display: block;
    background-color: rgb(248, 255,248);
    padding : 20px;
    margin : 10px;
    box-shadow: 3px 3px 4px rgba(10,10,0,0.3);
}

.bouton {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
    border-style: none;
    padding : 20px;
    margin : 10px;
    min-width: 100px;
}